// gradient
$background-gradient: transparent linear-gradient(33deg, #4158d0 0%, #c850c0 100%) 0% 0% no-repeat padding-box;


*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

html, body{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.selection-color {
    color: #FFD88F !important;
}


a{
    color: black;
    text-decoration: gray;
}