nav{
    height: 128px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    font-weight: 100;
    @media screen and (max-width: $bp-mobile) {
        flex-direction: column;
    }


    .nav-logo{
        display: flex;
        align-items: center;
        

        p {
            margin-left: 10px;
            font-weight: bold;
        }
        img {
            width: 45px;
            height: 45px;
        }
    }

    .nav-items{
        width: 35%;
        @media screen and (max-width: $bp-mobile) {
            width: 100%;
        }
        ul{
            font-size: 20px;
            text-transform: uppercase;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            @media screen and (max-width: $bp-mobile) {
                font-size: 18px;
            }
        }
    }

    .nav-quote{
        color: white;
        font-size: 25px;
        padding: 10px 15px;
        border-radius: 20px;
        font-weight: bold;
        background: transparent linear-gradient(78deg, #4158D0 0%, #C850C0 100%) 0% 0% no-repeat padding-box;
    }
}